.panel .l2 {
    height: 45px;
    line-height: 45px;
    font-size: 45px;
    min-height: 45px;
    background-color: #ccc;
    color: #333;
    border-bottom: 1px solid white;

}

.panel .l2 .tab {
    height: 1em;
    
}

.panel .l2 .tab.selected {
    
    background-color: #ddd;
    border-bottom: 1px solid white;
}

.panel .l2 .command-text{
    display: none;
}
