.panel .l1 {
    line-height: 50px;
    font-size: 50px;
    min-height: 50px;
    background-color: #555;
    color: #eee;
    height: 1em;
    border-bottom: 1px solid white;
}

.panel .l1 > .title i {
    color: #ccc;
}

.panel .l1 .divider {
    flex: 0 0 1px;
    background-color: rgba(255, 255, 255, 0.1);
    align-self: stretch;
}


.panel .l1 .tab {
    height: 1em;
    
}

.panel .l1 .tab.selected {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid white;
}

.panel .l1 .command-text{
    display: none;
}

.panel .l2 {
    height: 45px;
    line-height: 45px;
    font-size: 45px;
    min-height: 45px;
    background-color: #ccc;
    color: #333;
    border-bottom: 1px solid white;
    /* border-top: 1px solid white; */
}

.panel .l2 .tab {
    height: 1em;
    
}

.panel .l2 .tab.selected {
    /* border-top: 0.1em solid #ccc; */
    background-color: #ddd;
    border-bottom: 1px solid white;
}

.panel .l2 .command-text{
    display: none;
}


.panel .l3 {
    line-height: 40px;
    font-size: 40px;
    font-weight: 300;
    min-height: 40px;
    background-color: #ddd;
    border-bottom: 1px solid white;
    
}

