.panel {
    
    background-color: #eee;
    display: flex;
    flex-direction: column;
    
    justify-content: stretch;
    align-items: stretch;
    overflow: visible;
    
    border-left: 1px solid #666;
}


.panel-body {
    overflow-y: scroll;
    flex: 1 1 auto;
}

.panel, .panel * {
    user-select: none;
}

