.panel .l1 {
    line-height: 50px;
    font-size: 50px;
    min-height: 50px;
    background-color: #555;
    color: #eee;
    height: 1em;
    border-bottom: 1px solid #999;
}

.panel .l1 > .title i {
    color: #ccc;
}

.panel .l1 .divider {
    flex: 0 0 1px;
    background-color: rgba(255, 255, 255, 0.1);
    align-self: stretch;
}

.panel .l1 .tab {
    height: 1em;
    
}

.panel .l1 .tab.selected {
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid white;
}

.panel .l1 .command-text{
    display: none;
}
