.panel {
    position: fixed;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    overflow: auto;
    z-index: 1000;
    
    border-left: 1px solid #666;
}

.panel, .panel * {
    user-select: none;
}

/* 
.panel > .title {
    display: none;
    font-size: 10px;
    font-weight: 400;
    line-height: 30px;
    height: 30px;
    letter-spacing: 2px;
    color: #eee;
    background-color: #555;
    padding: 0 10px;
    
    border-bottom: 1px solid #777;
    border-left: 1px solid #666;
    text-align: start;
}

.panel > .header {
    background-color: #ddd;
    
}

.panel > .header.inverse {
    background-color: #555;
    color: #eee;
}

.panel > .header + .header {
    
}

.panel > .scroll-area {
    
    background-color: #fff;
    overflow-y: scroll;
    flex: 1 1 auto;
}

.panel, .panel * {
    user-select: none;
}


.panel .menu {
    
}

.panel > * + * {
    border-bottom: 1px solid white;;
}

.panel .menu-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    
    min-height: 40px;
    background-color: #eee;
    
}



.panel.left .menu-header {
    
    padding: 12px 20px 12px 0;
    border-left: 10px solid #ddd;
    
}

.panel.right .menu-header {
    padding: 12px 5px 12px 0;
    border-right: 10px solid #ddd;
} 

.panel .menu-title {
    font-size: 14px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 1 auto;
}

.panel .menu-subtitle {
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
    padding: 10px 0;
    background-color: #eee;
    text-align: center;
    align-self: stretch;
    
}

.panel .menu-toggle-icon {
    width: 40px;
    text-align: right;
    padding-right: 5px;
}

.panel .menu-body {

    padding: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
}



.panel .control {
    position: relative;
}

.panel .control-header {
    display: flex;
    flex-direction: column;
    height: 40px;
    align-items: center;
}

.panel .control-label {
    font-size: 10px;
    position: absolute;
    text-align: center;
    top:-1px;
    left:0;
    right:0;
    font-weight: 300;
    opacity: 0.5;
}

.panel .control-input {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 30px;
    width: 100%;
}

.panel .control-input-value {

    flex: 1 1 auto;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.5px;
}

.panel .control-icon {
    width: 20px;
    line-height: 40px;
    text-align:center;
}


.panel .tab-selector {
    display: flex;
    flex-direction: row;  
    border-bottom: 2px solid transparent;
}

.panel .tab {
    display: flex;
    flex-direction: row;
    line-height: 40px;
    padding: 0;

    color: #777;
    font-weight: 400;
    border-bottom: 2px solid transparent;
}



.panel .tab + .tab {
    margin-left: 10px; 
}

.panel .tab-text {
    font-size: 12px;

}

.panel .tab-icon {
    font-size: 18px;
    width: 30px;
    text-align: center;
}

.panel .tab-icon + .tab-text {
    margin-left: 2px;
}

.panel .tab.selected {
    border-bottom: 2px solid #555;
    color: initial;
} */