.canvas {

}

.canvas-background {
    z-index: 1;
    position: fixed;
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
}

.canvas-x-ruler {
    position: fixed;
    background-color: #333333;
    z-index: 1000;
    border-top: 40px solid #333333;
    height: 70px;
}

.canvas-y-ruler {
    position: fixed;
    display: block;
    width: 70px;
    z-index: 1000;
    border-top: 70px solid #333333;
    border-bottom: 30px solid #333333;
    border-left: 40px solid #333333;
}

.canvas-footer {
    position: fixed;
    background-color: #333333;
    z-index: 1000;
    height: 30px;
}
