.toolbar {
    background-color: #444;
    position: fixed;
    height: 50px;
    font-size: 50px;
    line-height: 50px;
    display: flex;
    flex-direction: row;
    color: #eee;
    border-top: #444;
    
    border-bottom: 1px solid #666;
    z-index: 1000;
    
}

.toolbar .section {
    display: inherit;
    flex-direction: inherit;
}

.toolbar .section + .section {
    border-left: 1px solid #555;
}

.toolbar .command-icon {
    
    position: relative;
    background-color: #555;
    width: 0.7em;
    height: 0.7em;
    line-height: 0.7em;
    margin: 0.15em 0;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
} 
 
.toolbar .command-icon > i {
    font-size: 0.35em;
}

.toolbar > .section .command:first-child .command-icon {
    border-top-left-radius: 0.1em;
    border-bottom-left-radius: 0.1em;
    margin-left: 0.15em;
}

.toolbar > .section .command:last-child .command-icon {
    border-top-right-radius: 0.1em;
    border-bottom-right-radius: 0.1em;
    margin-right: 0.15em;
}  

.toolbar .command + .command > .command-icon {
    border-left: 1px solid #444;
}

.toolbar .command-text {
    display: none;
}
