::-webkit-input-placeholder { /* Edge */
    font-weight: 300;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-weight: 300;
}

::placeholder {
    font-weight: 300;
}

div {
    outline: none;
}


html {
    height: 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,700,700i&display=swap');

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 0.3em; /* 1 */
  line-height: inherit; /* 1 */
  margin: 0; /* 2 */
}

body {
    overscroll-behavior: none;
    overflow: auto;
    font-family: 'Roboto';
    padding: 0;
    height: 100%; 
}

input {
    min-width: 0;
    size: unset;
}

.interactive {
    cursor: pointer;
    
}

.rotatable {
    transform-origin: 50% 50%;
    -webkit-transition: all 0.15s ease-in;
  	-moz-transition: all 0.15s ease-in;
  	-o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in ;
}

.rotate-0 {
    transform: none;
}

.rotate-90-cw {
    transform: rotate(90deg);
}

.row {
    display: flex;
    flex-direction: row;
    /* width: 100%; */
}

.column {
    display: flex;
    flex-direction: column;
}

.stretch {
    flex: 1 1 auto;
    /* max-width: 100%; */
}

.p1 { padding: 5px; }
.p2 { padding: 10px; }
.p3 { padding: 15px; }
.p4 { padding: 20px; }

.pv1 { padding-top: 5px; padding-bottom: 5px; }
.pv2 { padding-top: 10px; padding-bottom: 10px; }
.pv3 { padding-top: 15px; padding-bottom: 15px; }
.pv4 { padding-top: 20px; padding-bottom: 20px; }

.ph1 { padding-left: 5px; padding-right: 5px; }
.ph2 { padding-left: 10px; padding-right: 10px; }
.ph3 { padding-left: 15px; padding-right: 15px; }
.ph4 { padding-left: 20px; padding-right: 20px; }

.pt1 { padding-top: 5px }
.pt2 { padding-top: 10px }

.font-xs { font-size: 0.2em;}
.font-s { font-size: 0.24em; }
.font-m { font-size: 0.3em; }
.font-l { font-size: 0.4em }

.text-center { text-align: center }

.bg-dotted {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
}

.title {
    padding: 0 0.2em;
}

.title > span {
    font-size: 0.35em;
    display:block;
}

.control {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.control-label {
    position: absolute;
    line-height: 0.4em;
    left: 0;
    top: 0;
    width: 100%;
    font-weight: 300;
    opacity: 0.8;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
}


.control-label > span {
    font-size: 0.2em;
    display:block;
}

.control-input {
    display: flex;
    flex-direction: row;
}

.control-input-value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex:1 1 auto;
    /* padding: 0 0.2em; */
}

.control-input-value > span {
    font-size: 0.3em;
    display:block;
}

.control-icon {
    margin: 0.2em 0.1em;
    line-height: 0.6em;
    width: 0.6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-icon > i {
    font-size: 0.3em;
}

.command {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-wrap: nowrap;
}

.command-icon {
    width: 1em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.command-icon > i {
    font-size: 0.4em;
}

.command-text {
    font-size: 0.3em;
}

.tab {
    display: flex;
    flex-direction: row;
}
