html {
    height: 100%;
    width: 100%;
    
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,700,700i&display=swap');

body {
    overscroll-behavior: none;
    overflow: auto;
    font-family: 'Roboto';
    
    /* height: 100%; */
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/60-lines.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.interactive {
    cursor: pointer;
    
}

.rotatable {
    transform-origin: 50% 50%;
    -webkit-transition: all 0.15s ease-in;
  	-moz-transition: all 0.15s ease-in;
  	-o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in ;
}

.rotate-0 {
    transform: none;
}

.rotate-90-cw {
    transform: rotate(90deg);
}

.row {
    display: flex;
    flex-direction: row;
}

.stretch {
    flex: 1 1 auto;
}

.p1 { padding: 5px; }
.p2 { padding: 10px; }
.p3 { padding: 15px; }
.p4 { padding: 20px; }

.pv1 { padding-top: 5px; padding-bottom: 5px; }
.pv2 { padding-top: 10px; padding-bottom: 10px; }
.pv3 { padding-top: 15px; padding-bottom: 15px; }
.pv4 { padding-top: 20px; padding-bottom: 20px; }

.ph1 { padding-left: 5px; padding-right: 5px; }
.ph2 { padding-left: 10px; padding-right: 10px; }
.ph3 { padding-left: 15px; padding-right: 15px; }
.ph4 { padding-left: 20px; padding-right: 20px; }
