/* .no-prop-editor {
    line-height: 1.15;
    font-size: 12px;
    padding: 20px;
    text-align: justify;
} */

.simple-prop {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.simple-prop > .title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    
}

.simple-prop.assigned > .title {
    font-weight: bold;
}

.input {
    font-size: 14px;
    font-weight: 400;
    background: none;
    border: none;
}

.input:only-child {
    width: 100%;
}

.input-group {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom: 1px solid #ccc;
    line-height: 30px;
    border-radius: 3px;
}



.prop-folder-header {
    line-height: 35px;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}

.prop-folder-header > .toggler {
    width: 20px;
    padding-left:5px;
}

.prop-folder-header > .toggler > i {
    font-size: 12px;
}

.prop-folder-header  > .title {
    font-size: 14px;
    font-weight: 400;
}

.prop-folder-header.assigned > .title {
    font-weight: bold;
}

.prop-folder-header > .summary {

}

.prop-folder-items {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-left: 20px;
    
}


