.input-bar {
    background-color: white;
    box-shadow: 0 1px 0 0 #ccc;
    border-radius: 3px;
    border: none;
    display: flex;
    flex-direction: column;
    position: relative;
    line-height: 30px;
}

.input-bar > .row {
    margin: 0 -0.5px;
    position: relative;
}

.input-bar > .row > * {
    margin: 0 0.5px;
}

.input-bar > .row > * + * {
    box-shadow: -1px 0 0 0 #ddd;
}

.input-bar > .row + .row::before {
    content: '';
    position: absolute;
    height: 1px;
    top: 0;
    left: 0.5px;
    right: 0.5px;
    flex: 0 0 1px;
    display: flex;
    background-color: #ddd;
}

.input-bar:focus-within {
    box-shadow: 0 0 5px rgb(121, 146, 179);
}

.input-bar > .row:first-child > :first-child { border-top-left-radius: 3px; }
.input-bar > .row:first-child > :last-child { border-top-right-radius: 3px; }

.input-bar > .row:last-child > :first-child { border-bottom-left-radius: 3px; }
.input-bar > .row:last-child > :last-child { border-bottom-right-radius: 3px; }

.input-bar > :only-child {
    flex: 1 1 auto;
    border-radius: 3px;
}
