.input-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    cursor: pointer;
}

.input-icon.disabled {
    cursor: not-allowed;
    color: #ccc;
}

.input-icon > i {
    font-size: 14px;
}