.navbar {

    font-size: 50px;
    color: #333;
    background-color: #ccc;
    height: 50px;
    padding: 0 0 0 0;
    line-height: 50px;
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.navbar, .navbar * {
    user-select: none;
}

.navbar .divider {
    flex: 0 0 1px;
    background-color: #eee;
}

.navbar .tab {
    text-align: center;
    height: 49px;
    border-bottom: 2px #ccc;
}

.navbar .tab .command-text {
    display: none;
}

.navbar .tab.selected {
    border-bottom: 2px solid #555;
    color: #555;
    height: 49px;
}

.navbar .tab.selected .command {
    color: #555;
    height: 49px;
    padding-right: 0.3em;
    padding-left: 0.2em;
}

.navbar .tab.selected .command-icon {
    display: flex;
    width: 0.6em;
}

.navbar .tab.selected .command-text {
    display: flex;
    font-weight: 300;
}

