 .animate() {
    transform-origin: 50% 50%;
    -webkit-transition: all 0.15s ease-in;
  	-moz-transition: all 0.15s ease-in;
  	-o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
 }



