@import "../mixins/all.less";

.menu-item {
    
    max-width: 1em;

    .interactive();

    .text-icon-container(0.4em);
    
    .animate();

    & > .icon {
        width: 1em;
    }

    & > .text {
        width: 0;
        margin-left: 0;
        visibility: hidden;
    }

    & > .icon > i {
        font-size: 0.4em;
    } 

    &.selected {
        max-width: 400px;
        padding: 0 0.4em;
        .bg-lighten(0.3);
    }

    &.selected > .icon {
        width: auto;
    }
    
    &.selected > .text {
        margin-left: 0.2em;
        width: auto;
        visibility: visible;
    }

}

