.placeholder(@color) {
    &::-webkit-input-placeholder {
        color: @color; // Chrome, Safari, Opera
    }
    &::-moz-placeholder {
        color: @color; // Firefox 19+
    }
    &:-ms-input-placeholder {
        color: @color; // IE 10+
    }
}

// for buttons
.appearance() {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.faux-control() {
    & > input[type='radio'], & > input[type='checkbox'] {
        position: absolute;
        opacity: 0;
    }
}

.animate(@prop: all) {
    -webkit-transition: @prop 0.2s ease-in-out;
  	-moz-transition: @prop 0.2s ease-in-out;
  	-o-transition: @prop 0.2s ease-in-out;
    transition: @prop 0.2s ease-in-out;
}

.user-select(@user-select) {
    -webkit-touch-callout: @user-select;
    -webkit-user-select: @user-select;
    -khtml-user-select: @user-select;
    -moz-user-select: @user-select;
    -ms-user-select: @user-select;
    user-select: @user-select;
}

.row() {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    & > * {
        flex-shrink: 0;
    }

    & > .stretch {
        flex: 1 1 auto;
    }
}

.column() {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    & > * {
        flex-shrink: 0;
    }

    & > .stretch {
        flex: 1 1 auto;
    }
}

.fluid(@spacing) {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    

    & > * {
        //margin: (@spacing / 2);
    }

    & > .stretch {
        //margin: (@spacing / 2) 0 !important;
    }

    & > .occupy-all { flex: 0 0 100%; }
    & > .occupy-half { flex: 0 0 calc(50% - @spacing / 2); }
}

.text-overflow(@mode: clip) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: @mode;    
}

.icon-text-container() {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    & > .text {
        .text-overflow();
    }

    // & > .icon:not(:last-child)  {
    //     margin-right: 0.07em; 
    // }

    & > .icon {
        .icon();
    }

}

.rounded-corners(@radius) {
    border-radius: @radius;

    & > * { border-radius: 0; }

    & > .row:first-child > :first-child, & > :first-child { border-top-left-radius: @radius; }
    & > .row:first-child > :last-child, & > :first-child { border-top-right-radius: @radius; }
    & > .row:last-child > :first-child, & > :last-child { border-bottom-left-radius: @radius; }
    & > .row:last-child > :last-child, & > :last-child { border-bottom-right-radius: @radius; }

    & > :only-child {
        border-radius: @radius;
    }
}

.icon() {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.with-toggle-marker(@color) {

    & > .marker {
        .animate();
        position: absolute;
        top: 100%;
        left: 50%;
        height: @space-stroke;
        opacity: 0;
        pointer-events: none;
        background-color: @color;
        width: 0;
    }

    & > input:checked ~ .marker {
        opacity: 1;
        left: 0;
        width: 100%;
    }

}

.palette-dark(@name, @color, @bgColor) {
    &.bg-@{name} {
        background-color: @bgColor !important;
    }

    &.pal-@{name} {
        background-color: @bgColor;
        color: @color;
        --input-area-bg: white;
        --button-bg: lighten(@bgColor, 10%);
        --button-edge: lighten(@bgColor, 20%);
        --block-edge-color: darken(@bgColor, 10%);
        --marker-line: white;
        --marker-bg: lighten(@bgColor, 5%);
        --divider-color: lighten(@bgColor, 10%);
    }
}

.palette-light(@name, @color, @bgColor) {
    &.bg-@{name} {
        background-color: @bgColor !important;
    }

    &.pal-@{name} {
        background-color: @bgColor;
        color: @color;
        --input-area-bg: white;
        --button-bg: darken(@bgColor, 10%);
        --button-edge: darken(@bgColor, 20%);
        --block-edge-color: darken(@bgColor, 10%);
        --marker-line: white;
        --marker-bg: lighten(@bgColor, 5%);
        --divider-color: lighten(@bgColor, 10%);
    }
}

.bg-dotted() {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px, transparent 1px, transparent 100%);
    -webkit-background-size: 3px 3px;
    -moz-background-size: 3px 3px;
    background-size: 3px 3px;
}



.bg-checkers() {
    background-color: white;
    background-image: linear-gradient(45deg, #e9e9e9 25%, transparent 25%), linear-gradient(-45deg, #e9e9e9 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #e9e9e9 75%), linear-gradient(-45deg, transparent 75%, #e9e9e9 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}